/* Media Queries */
@media (max-width: 53em) {
}

@media (max-width: 47em) {
  .nav {
    width: 75rem;
    padding: 0.5rem 3rem;
  }
  .container {
    width: 75rem;
    padding: 0 2rem 0 2rem;
  }
  .app {
    width: 75rem;
    overflow: hidden;
  }

  .proud-products {
    width: 100%;
    margin-top: 40rem;
    padding: 0 10rem 0 10rem;
  }
  .proud-products-header {
    margin: 0 0 5rem -10rem;
  }
  .proud-products-grid {
    gap: 3rem;
    margin: 0 auto;
    grid-template-columns: repeat(2, 25rem);
    /* align-items: center; */
    /* justify-content: center; */
  }

  .hero {
    width: 100%;
    padding: 0 10rem 0 10rem;
  }

  .hero-grid {
    grid-template-columns: 10rem 10rem 10rem 8rem 9rem;
    grid-template-rows: 25rem 35rem 20rem;
  }
  .img-furniture {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .img-electronics {
    grid-column: 4/6;
    grid-row: 1/2;
  }
  .img-kitchen {
    grid-column: 1/4;
    grid-row: 2/3;
  }

  .img-lamps {
    grid-column: 4/6;
    grid-row: 2/3;
  }
  .img-clothing {
    grid-column: 1/4;
    grid-row: 3/4;
  }

  .img-skin-care {
    grid-column: 4/6;
    grid-row: 3/4;
  }
  .call-to-action-text {
    padding: 1rem 2rem;
  }
  .catagories-grid {
    grid-template-columns: repeat(3, auto);
  }
  .nav-btns {
    /* position: relative; */
  }
  .mobile-nav-btns {
    position: absolute;
    top: 0;
    right: 0;
    width: 30rem;
    height: 100vh;
    background-color: #ffffffde;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 0.5s;
  }
  .mobile-nav-btn {
    display: inline-block;
    z-index: 1000;
  }
  .unhidden-btn {
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    width: 30rem;
    height: 100vh;
    background-color: #ffffffe1;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(0%) !important;
    transition: all 0.5s;

    /* display: none; */
  }

  .cart-item-container {
    height: 45rem;
  }
}

@media (max-width: 34em) {
  .nav {
    width: 54.4rem;
    padding: 0.5rem 2rem;
  }
  .container {
    width: 54.4rem;
    padding: 0 2rem 0 2rem;
  }
  .app {
    width: 54.4rem;
    overflow: hidden;
  }
  .nav {
    font-size: 1.8rem;
  }

  .hero {
    width: 54.4rem;
    padding: 0 4rem 0 4rem;
  }

  .hero-grid {
    grid-template-columns: 8rem 8rem 8rem 6rem 7rem;
    grid-template-rows: 20rem 30rem 20rem;
  }

  .hero-img-cont p {
    font-size: 2.8rem;
  }

  .proud-products {
    width: 54.4rem;
    margin-top: 35rem;
    padding: 0 10rem 0 10rem;
  }
  .proud-products-header {
    margin: 0 0 5rem -10rem;
  }
  .proud-products-grid {
    gap: 5rem;
    margin: 0 auto;
    grid-template-columns: 25rem;
  }
  .product-for-proud {
    width: 35rem;
    height: 41rem;
  }
  .product-for-proud img {
    width: 35rem;
    height: 30rem;
  }
  .call-to-action {
    width: 50rem;
    grid-template-columns: 1fr;
  }
  .call-to-action-img {
    width: 50rem;
    grid-row: 1/2;
  }
  .call-to-action-detail {
    margin-bottom: 4rem;
  }
  .call-to-action-btn {
    font-size: 1.8rem;
    align-self: center;
  }
  .trending-products {
    width: 54.4rem;
  }

  footer {
    width: 54.4rem;
    font-size: 1.8rem;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 3rem;
  }
  .about {
    display: flex;
    /* grid-template-columns: auto auto auto; */
    gap: 1rem;
    margin-bottom: 3rem;
  }

  .product-page {
    width: 54.4rem;
  }

  .product-page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
  }
  .product-page-img {
    width: 40rem;
  }
  .product-page-details {
    width: 54rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .product-page-details > p {
    font-size: 1.8rem;
    padding: 4rem;
  }

  .product-page-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .product-page-btns {
    width: 50rem;
    justify-content: space-around;
  }
  .product-page-property {
    width: 50rem;
  }
  .cart {
    width: 54.4rem;
    padding: 2rem;
  }
  .mobile-nav-btns {
    width: 54.4rem;
  }
  .unhidden-btn {
    width: 54.4rem;
  }

  .catagories {
    width: 54.4rem;
  }
  .catagories-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 0.5rem;
    height: 50vh;
    overflow-y: auto;
  }

  .tabs {
    width: 49rem;
  }
  .tab {
    padding: 0.3rem 0.4rem;
    border: 1px #bbb solid;
    cursor: pointer;
    transition: all 0.4s;
  }
}

@media (max-width: 30em) {
  .logo {
    height: 3.5rem;
  }
  .nav {
    width: 48rem;
    padding: 0.8rem 1rem;
  }
  .container {
    width: 48rem;
    padding: 0 1.5rem 0 1.5rem;
  }
  .app {
    width: 48rem;
    overflow: hidden;
  }
  .nav {
    font-size: 1.8rem;
  }

  .hero {
    width: 48rem;
    padding: 0 0.8rem 0 0.8rem;
  }

  .hero-grid {
    grid-template-columns: 8rem 8rem 8rem 6rem 7rem;
    grid-template-rows: 20rem 30rem 20rem;
  }

  .hero-img-cont p {
    font-size: 2.8rem;
  }

  .proud-products {
    width: 48rem;
    margin-top: 35rem;
    padding: 0 5rem 0 5rem;
  }
  .proud-products-header {
    margin: 0 0 5rem -5rem;
  }

  .call-to-action {
    width: 44rem;
    grid-template-columns: 1fr;
  }
  .call-to-action-img {
    width: 44rem;
    grid-row: 1/2;
  }
  .call-to-action-detail {
    margin-bottom: 4rem;
  }
  .call-to-action-btn {
    font-size: 1.8rem;
    align-self: center;
  }
  .trending-products {
    width: 48rem;
  }

  .trending-products-header {
    margin-top: 5rem;
  }

  footer {
    width: 48rem;
    font-size: 1.8rem;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 2rem;
  }
  .about {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    gap: 1rem;
    margin-bottom: 3rem;
    font-size: 1.6rem;
  }

  .product-page {
    width: 48rem;
  }

  .product-page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
  }
  .product-page-img {
    width: 40rem;
  }
  .product-page-details {
    width: 46rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .product-page-details > p {
    font-size: 1.8rem;
    padding: 2rem;
  }

  .product-page-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .product-page-btns {
    width: 44rem;
    justify-content: space-around;
  }
  .product-page-property {
    width: 44rem;
  }
  .cart {
    width: 48rem;
    padding: 2rem;
  }
  .mobile-nav-btns {
    width: 48rem;
  }
  .unhidden-btn {
    width: 48rem;
  }

  .catagories {
    width: 48rem;
  }
  .catagories-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 0.5rem;
    height: 50vh;
    overflow-y: auto;
  }

  .tabs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    width: 45rem;
  }
  .tab {
    padding: 0.3rem 0.4rem;
    border: 1px #bbb solid;
    cursor: pointer;
    transition: all 0.4s;
  }
}

@media (max-width: 27em) {
  .nav {
    width: 43rem;
    padding: 0.8rem 1rem;
  }
  .container {
    width: 43rem;
    padding: 0 1rem 0 1rem;
  }
  .app {
    width: 43rem;
    overflow: hidden;
  }
  .nav {
    font-size: 1.8rem;
  }

  .hero {
    width: 43rem;
    padding: 0 0.5rem 0 0.5rem;
  }

  .hero-grid {
    grid-template-columns: 7rem 7rem 7rem 5rem 6rem;
    grid-template-rows: 18rem 27rem 18rem;
  }

  .hero-img-cont p {
    font-size: 2.4rem;
  }

  .proud-products {
    width: 43rem;
    margin-top: 35rem;
    padding: 0 2rem 0 2rem;
  }
  .proud-products-header {
    margin: 0 0 5rem -5rem;
  }

  .call-to-action {
    width: 41rem;
    grid-template-columns: 1fr;
  }
  .call-to-action-img {
    width: 41rem;
    grid-row: 1/2;
  }
  .call-to-action-detail {
    margin-bottom: 4rem;
  }
  .call-to-action-btn {
    font-size: 1.8rem;
    align-self: center;
  }
  .trending-products {
    width: 43rem;
  }

  footer {
    width: 43rem;
    font-size: 1.8rem;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 2rem;
  }
  .about {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    gap: 1rem;
    margin-bottom: 3rem;
    font-size: 1.6rem;
  }

  .product-page {
    width: 43rem;
  }

  .product-page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
  }
  .product-page-img {
    width: 35rem;
  }
  .product-page-details {
    width: 40rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .product-page-details > p {
    font-size: 1.8rem;
    padding: 2rem;
  }

  .product-page-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .product-page-btns {
    width: 38rem;
    justify-content: space-around;
  }
  .product-page-property {
    width: 40rem;
  }
  .cart {
    width: 43rem;
    padding: 2rem;
  }
  .mobile-nav-btns {
    width: 43rem;
  }
  .unhidden-btn {
    width: 43rem;
  }

  .catagories {
    width: 43rem;
  }
  .catagories-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    /* column-gap: 0.5rem; */
    height: 50vh;
    overflow-y: auto;
  }

  .product-for-catagory {
    width: 34rem !important;
    height: 41rem;
  }
  .product-for-catagory img {
    width: 34rem;
    height: 30rem;
  }

  .tabs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    width: 38rem;
  }
  .tab {
    padding: 0.3rem 0.4rem;
    border: 1px #bbb solid;
    cursor: pointer;
    transition: all 0.4s;
  }
}

@media (max-width: 25em) {
  .nav {
    width: 40rem;
  }
  .container {
    width: 40rem;
  }
  .app {
    width: 40rem;
    overflow: hidden;
  }

  .hero {
    width: 40rem;
    /* padding: 0 0.5rem 0 0.5rem; */
  }

  .hero-grid {
    grid-template-columns: 6rem 7rem 6rem 6rem 5rem;
    grid-template-rows: 18rem 23rem 18rem;
  }

  .proud-products {
    width: 40rem;
    margin-top: 30rem;
    padding: 0 1rem 0 1rem;
  }
  .proud-products-header {
    margin: 0 0 5rem 0rem;
  }

  .call-to-action {
    width: 38rem;
    grid-template-columns: 1fr;
  }
  .call-to-action-img {
    width: 38rem;
    grid-row: 1/2;
  }
  .call-to-action-detail {
    margin-bottom: 4rem;
  }
  .call-to-action-btn {
    font-size: 1.8rem;
    align-self: center;
  }
  .trending-products {
    width: 40rem;
  }

  footer {
    width: 40rem;
    font-size: 1.8rem;
  }

  .footer {
    padding: 6rem 1rem;
  }
  .about {
    font-size: 1.5rem;
  }

  .product-page {
    width: 40rem;
  }

  .product-page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
  }
  .product-page-img {
    width: 30rem;
  }
  .product-page-details {
    width: 40rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .product-page-details > p {
    font-size: 1.8rem;
    padding: 2rem;
  }

  .product-page-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .product-page-btns {
    width: 38rem;
    justify-content: space-around;
  }
  .product-page-property {
    width: 38rem;
  }
  .cart {
    width: 40rem;
    padding: 2rem;
  }
  .mobile-nav-btns {
    width: 40rem;
  }
  .unhidden-btn {
    width: 40rem;
  }

  .catagories {
    width: 40rem;
  }
  .catagories-grid {
    width: 38rem;
    display: grid;
    height: 50vh;
    overflow-y: auto;
  }
  .product-for-catagory {
    width: 32rem !important;
    height: 41rem;
  }
  .product-for-catagory img {
    width: 32rem;
    height: 30rem;
  }

  .tabs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    width: 38rem;
  }
  .tab {
    padding: 0.3rem 0.4rem;
    border: 1px #bbb solid;
    cursor: pointer;
    transition: all 0.4s;
  }
}

@media (max-width: 23em) {
  .nav {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .app {
    width: 36.8rem;
    overflow: hidden;
  }

  .hero {
    width: 100%;
    padding: 0 1.6rem;
  }

  .hero-grid {
    grid-template-columns: 4rem 4rem 6rem 6rem 4rem;
    grid-template-rows: 15rem 20rem 15rem;
  }

  .hero-img-cont p {
    font-size: 2rem;
  }
  .proud-products {
    width: 100%;
    margin-top: 30rem;
    padding: 0 2rem 0 2rem;
  }
  .proud-products-header {
    margin: 0 0 5rem 0rem;
  }
  .product-for-proud {
    width: 30rem;
    height: 40rem;
  }
  .product-for-proud img {
    width: 30rem;
    height: 30rem;
  }

  .call-to-action {
    margin: 15rem auto;
    width: 32rem;
    grid-template-columns: 1fr;
  }
  .call-to-action-img {
    width: 32rem;
    grid-row: 1/2;
  }
  .call-to-action-detail {
    margin-bottom: 4rem;
  }
  .call-to-action-btn {
    font-size: 1.8rem;
    align-self: center;
  }
  .trending-products {
    width: 100%;
  }

  footer {
    width: 100%;
    font-size: 1.8rem;
  }

  .footer {
    padding: 6rem 1rem;
  }
  .about {
    font-size: 1.3rem;
  }

  .product-page {
    width: 100%;
  }

  .product-page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
  .product-page-img {
    width: 30rem;
  }
  .product-page-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .product-page-btns {
    width: 34rem;
    justify-content: space-around;
  }
  .product-page-btns button {
    padding: 1.2rem 3rem;
  }

  .product-page-property {
    width: 34rem;
  }
  .cart {
    width: 100%;
    padding: 2rem;
  }
  .mobile-nav-btns {
    width: 100%;
  }
  .unhidden-btn {
    width: 100%;
  }

  .catagories {
    width: 100%;
  }
  .catagories-grid {
    width: 34rem;
    display: grid;
    grid-template-columns: auto;
    /* column-gap: 0.5rem; */
    height: 50vh;
    overflow-y: auto;
  }

  .product-for-catagory {
    width: 30rem !important;
    height: 41rem;
  }
  .product-for-catagory img {
    width: 30rem;
    height: 30rem;
  }

  .tabs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    width: 34rem;
  }
  .tab {
    padding: 0.3rem 0.4rem;
    border: 1px #bbb solid;
    cursor: pointer;
    transition: all 0.4s;
  }
}
